@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  margin-left: 20px;
}

body {
  position: absolute;
  width: 375px;
  height: 718px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

ul {
  display: inline;
  list-style-type: none;
}

/* Header */
header {
  padding: 24px;
  margin: 24px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.logo {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  text-align: center;
  color: #6070ff;
}

/* First-page */

.main-page {
  background-image: url('./Images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 24px;
}

.menu {
  margin: 0;
  padding: 0;
}

.text {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #172b4d;
  margin-left: 20px;
}

p {
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 12px 0;
  margin-left: 20px;
}

.social-media-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #7f8cff;
  margin: 12px 0;
  margin-left: 20px;
}

.social-media-icons {
  justify-content: space-between;
  display: flex;
  padding: 0;
  width: 180px;
  margin-left: 20px;
}

.social-media {
  margin: 0;
}

/* Works section */

.works-section {
  padding: 80px 24px;
  background: #f7f7f9;
  width: 390px;
  z-index: 1;
  margin: 20px 0 0 0;
  display: grid;
}

.tech-info {
  display: flex;
  padding: 0;
  margin: 20px 0 0 10px;
}

.tech-icons {
  background-color: #fff;
}

.canopy {
  color: #344563 !important;
  flex-direction: row;
}

.canopy1 {
  color: #7a869a !important;
  flex-direction: row;
}

.span {
  height: 8px;
  width: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
  display: inline-block;
}

.btn {
  display: flex;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 12px;
  margin: 28px 182px 30px 16px;
}

.btn_1 {
  display: flex;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 12px;
  margin: 24px;
}

.tech-info > li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  border-radius: 8px;
  background: #ebebff;
  margin: 0 4px;
  padding: 4px 12px;
  justify-content: space-between;
}

.tonic {
  background-color: #fff;
  border-radius: 16px;
  padding: 5px;
  margin-bottom: 100px;
}

.about {
  background-color: #f7f7f7;
  padding-right: 70px;
  width: 390px;
  margin: 0;
  display: flex;
}

.about-menu {
  padding-top: 114px;
  padding-right: 30px;
  margin-top: -10px;
  border-radius: 0 70px 0 0;
  width: 390px;
  background-color: #fff;
}

.about-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #172b4d;
  margin-left: 20px;
}

.about-info {
  font-size: 16px;
  display: flex;
  color: #344563;
  margin-left: 24px;
}

.techs {
  margin: 0 36px 10px 24px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.techs > p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.work-info {
  display: flex;
  padding: 0;
  margin: 20px 0 0 10px;
}

.work-info > li {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin: 0 6px 0 6px;
}

.list {
  width: 320px;
}

.languages {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.lang-list {
  display: flex;
  font-style: normal;
  font-size: 15px;
  border: 10px solid #fff;
  background: #f7f7f9;
  border-radius: 8px;
  padding-right: 12px;
}

.lang-list > img {
  padding: 9px 0 9.72px 12px;
}

.lang-list > p {
  margin-left: 16px;
}

.tech-titles {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px 12px 0;
  border-bottom: 1px solid #dfe1e6;
}

.image-responsive {
  position: relative;
  padding: 16px;
}

.contact-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #fff;
  margin-left: 24px;
}

.last-page {
  background-image: url('./Images/Ellipse.png'), url('./Images/Rectangle.png'),
    url('./Images/Shape.png');
  background-repeat: no-repeat;
  background-position-x: 328px, 311px, 115px;
  background-position-y: 45px, 15px, 675px;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-top: 103px;
  padding-bottom: 43px;
  margin-top: 100px;
  border-radius: 70px 0 0 0;
}

.contact-me {
  grid-column-start: 2;
  justify-items: center;
  display: flex;
  flex-direction: column;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
}

.contact-info {
  display: flex;
  text-align: center;
  color: #ebebff;
  margin-left: 0;
  margin-right: 24px;
  margin-bottom: 60px;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #6070ff;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 22px 12px 30px 0;
  margin-bottom: 45px;
  margin-left: 8px;
}

input[type='text'],
input[type='email'] {
  display: flex;
  align-items: center;
  border: 10px solid #fff;
  background: #fff;
  border-radius: 8px;
  padding-right: 12px;
  margin-bottom: 20px;
  width: 330px;
  height: 35px;
}

textarea {
  display: flex;
  align-items: center;
  border: 10px solid #fff;
  background: #fff;
  border-radius: 8px;
  padding-right: 12px;
  width: 330px;
  height: 100px;
}

.button:enabled {
  transform: scale(1.1);
}

.logo .button .menu .btn .btn_1:enabled {
  transform: scale(1.1);
}

.button:hover {
  background-color: #2230d2;
  color: #fff;
}
